*{
    margin: 0;
    padding: 0;
}

body{
    padding: 40px;
}

.report{
    border: 3px solid;
}

.table.reportPDF thead{
    border-bottom: 3px solid;
}

.table.reportPDF thead tr th{
    text-align: center;
    line-height: 15px;
    padding: 20px auto;
    width: 10px !important;
}

.table.reportPDF thead tr th:nth-child(2),
.table.reportPDF thead tr th:nth-child(4){
    max-width: 50px !important;
}

.table.reportPDF thead tr th:nth-child(3){
    border-left: 3px solid;
    border-right: 3px solid;
    line-height: 28px;
    font-size: 27px;
}

.table.reportPDF .headerLogo{
    width: 120px;
}

.report .reportBody{
    margin: 30px 20px;
}

.report .reportBody table tbody tr td{
    padding: 5px 0 !important;
}

.report .reportBody table tbody tr td.uraian{
    /* border: 1px dashed black;
    padding: 15px !important; */
    text-align: justify;
}